# Declination angle

This notebook recreates Equation 1.6.1a and Table 1.6.1 from the book 'Solar Engineering of Thermal Processes' by Duffie and Beckman.

## Function to calculate $\delta$ - Equation 1.6.1a, Page 13

This function uses methods from the Python built-in *math* library: https://docs.python.org/3/library/math.html

In [1]:
import math
def calculate_d(n):
    """"Calculates declination angle
    
    Arguments:
        - n (int): the day number, i.e. 1st Jan n=1, 1st Feb n=32 etc.
    
    """
    d = 23.45 * math.sin ( math.radians (360 * (284 + n) / 365))
    
    return d

### Testing the function

We can check the function works by running it for n=1 (1st January) and printing the result.

In [2]:
result=calculate_d(17)
result

-20.91696257447642

This answer matches the first row of Table 1.6.1.

## Recreating Table 1.6.1 from Duffie and Beckman, Page 14

First an initial table with inputs is created:

In [3]:
import pandas as pd
df=pd.DataFrame(index=['January','February','March','April','May','June','July',
                       'August','September','October','November','December'],
                data={'n':[17,47,75,105,135,162,198,228,258,288,318,344]}
               )
df.index.name='Month'
df

             n
Month
January     17
February    47
March       75
April      105
May        135
June       162
July       198
August     228
September  258
October    288
November   318
December   344

Then the `calculate_d` function is used to add the declination angle:

In [4]:
df['$\delta$']=df['n'].apply(calculate_d)
df

             n   $\delta$
Month
January     17 -20.916963
February    47 -12.954608
March       75  -2.417735
April      105   9.414893
May        135  18.791918
June       162  23.085911
July       198  21.183694
August     228  13.454960
September  258   2.216887
October    288  -9.599397
November   318 -18.911955
December   344 -23.049628